<h1>商品一覧</h1>

<table>
 <% @items.each do |item| %>

<tr>
 <td><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg' %></td>
 <td><%= item.name %></td>
 <td><%= item.genre %></td>
</tr>

<% end %>
</table>
